.fade-enter-active,
.fade-leave-active {
  // transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  
  // transform: transformX(100px);
  transition: all .3s ease;
  
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  // transform: scale(0.8);
  
  transform: translateX(20px);  
  // transform: transformX(0px);
}


// .fade-enter-to,
// .fade-leave-from {
//   opacity: 1;
//   transform: scale(1);
//   // transform: transformX(0px);
// }
