.s-loading {
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}
.line {
  width: 400%;
  height: 8px;
  background-color: teal;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 5rem 5rem;
  animation: anim 3s linear infinite;
  @keyframes anim {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 5rem 5rem;
    }
  }
}

.spinner-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.12);
  pointer-events: none;
}
.spinner {
  display: flex;
}
.spinner > div {
  background-color: var(--theme);
  height: 64px;
  width: 8px;
  padding: 0;
  margin: 0 1px;
  display: inline-block;
  animation: stretchdelay 1.2s ease-in-out infinite;
  background: rgba(96, 96, 128, 1);
}
.spinner .rect2 {
  animation-delay: -1.1s;
}
.spinner .rect3 {
  animation-delay: -1s;
}
.spinner .rect4 {
  animation-delay: -0.9s;
}
.spinner .rect5 {
  animation-delay: -0.8s;
}
@keyframes stretchdelay {
  0%,
  40%,
  to {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
