#favorites {
  display: flex;
  align-items: center;
  padding: 1rem;
  .favorite-list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // width: max-content;
    margin: 0 auto;
    .favorite-list-item {
      display: flex;
      flex-direction: column;
      width: 200px;
      height: 324px;
      margin: .5rem;
      background-color: white;
      cursor: pointer;
      .item-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: .5rem;
        transition: .8s ease;
      }
      .item-title {
      }
      &:hover {
        .item-cover {
          transform: rotateY(360deg);
        }
      }
    }
  }
}
