#home {
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;

    >* {
      margin-right: 0.5rem;

      &:first-of-type {
        margin-left: 0.5rem;
      }
    }

    .n-select {
      width: 16rem;
    }

    .n-input-number {
      width: 10rem;
    }

    .n-auto-complete {
      i {
        // transition: 0.25s ease-out;
        cursor: pointer;
        user-select: none;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        text-align: center;
        transition: 0.25s ease-out;

        &:hover {
          color: teal;
        }

        &:focus,
        &:active {
          background-color: #eee;
        }
      }
    }
  }

  main {
    position: relative;
    flex: 1;
    height: 0;
    padding: 1rem 0;
  }

  .list-loading {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 8px;
  }

  .n-result {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .list-item {
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    background-color: whitesmoke;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      .item-cover {
        transform: scale(1.1);
      }

      .item-info {
        transform: translateY(0);
      }
    }

    img {
      display: block;
      transition: 0.3s ease;
    }

    .item-left-angle {
      --size: 40px;
      --color: hsl(224, 60%, 60%);
      position: absolute;
      left: 0;
      top: 0;
      width: var(--size);
      height: var(--size);

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 0px var(--size) var(--size);
        border-color: transparent transparent transparent var(--color);
      }
      .item-number-order {
        position: absolute;
        left: calc(33.3%);
        top: calc(33.3%);
        color: white;
        transform: rotate(-45deg) translate(-50%, -50%);
        transform-origin: 0 0;
      }
    }

    .item-info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: translateY(102%);
      padding: 0.5rem;

      .item-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .item-options {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // line-height: 1.5rem;
        line-height: 1;
      }
    }
  }
}