#home {
  height: 100%;
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    > * {
      margin-right: 0.5rem;
      &:first-of-type {
        margin-left: 0.5rem;
      }
    }
    .n-select {
      width: 16rem;
    }
    .n-input-number {
      width: 10rem;
    }
    .n-auto-complete {
      i {
        // transition: 0.25s ease-out;
        cursor: pointer;
        user-select: none;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        text-align: center;
        transition: 0.25s ease-out;
        &:hover {
          color: teal;
        }
        &:focus,
        &:active {
          background-color: #eee;
        }
      }
    }
  }
  main {
    position: relative;
    flex: 1;
    height: 0;
    padding: 1rem 0;
  }
  .list-loading {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 8px;
  }
  .n-result {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .list-item {
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    background-color: whitesmoke;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      .item-info {
        transform: translateY(0);
      }
    }
    .item-info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      // height: 100%;
      color: white;
      background-color: rgba(0, 0, 0, 0.8);
      transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: translateY(100%);
      padding: 0 0.5rem;
      line-height: 0;
      & > * {
        padding-bottom: 0.5rem;
      }

      .item-title {
      }
      .item-options {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        line-height: 1.5rem;
      }
    }
  }
}
