.waterfall--list {
  position: relative;
  .waterfall--list-item {
    position: absolute;
    transition: top 0.25s ease, left 0.25s ease;
    :deep(img) {
      width: 100%;
      height: 100%;
    }
  }
}
